<table border="0">
    <tr>
      <td><b style="font-size:20px"><%= name %><br><%= position %></b></td>
      <td><b style="font-size:30px"></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>
  